extends ./layout.jade

block content
  div.col-sm-3
    div.img-rounded.sidebar
      div#clockbox
    div.img-rounded.sidebar
      | Travel Info 
      br
      | Event Location
      p#eventLoc
      | Estimated Travel Time
      p#ETA
    div.img-rounded.sidebar
      | Directions
      table#directions
        tbody         
  div.col-sm-6
    if user != null
      div.img-rounded.main
        button#event_trigger.btn.btn-success(href="#event") Create an Event
        #event.popupContainer(style="display:none;text-align:left;")
          header.popupHeader
            span.header_title(style="color:#666;") Create an Event
            span.event_close
              i.fa.fa-times
          section.popupBody
            .social_login
              .user_login
                form
                  label#eventerrmsg
                  label Event Name
                  input#eventname(type="text")
                  label Time
                  input#eventtime(type="text")
                  label Location
                  input#eventloc(type="text")
                  label Description
                  textarea(rows="4" cols="40")#eventloc(type="text")
              .action_btns
                .one_half
                  a#login.btn_s(href="#" onClick="createEvent()") Create
      script.
        $("#event_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".event_close"});
    else
      div.img-rounded.main.map
        input#pac-input.controls(type="text" placeholder="Search Box")
        div#map-canvas
  //
    div.img-rounded.main.map
      input#pac-input.controls(type="text" placeholder="Search Box")
      div#map-canvas
      button#confirmEvent.btn_l_red
        | Confirm Event Location
      select#mode.btn_l_red
        option(value="DRIVING")
          | Driving
        option(value="WALKING")
          | Walking
        option(value="BICYCLING")
          | Bicycling
        option(value="TRANSIT")
          | Public Transit
      select#frequency.btn_l_red
        option(value="manual")
          | Manual
        option(value="5")
          | 5 seconds
        option(value="10")
          | 10 seconds
        option(value="60")
          | 1 minute
      button#manualUpdate.btn_l_red
        | Update Location
    
  div.col-sm-3
    div.img-rounded.rightbar
      | Event Feed 
      br 
      br 
      br 
      br
      br
      br
    div.img-rounded.rightbar
      |Past Event Locations
      table#allLocs
        tr
          td
            
