extends ./layout.jade

block content
  div(class="col-sm-3")
    div(class="img-rounded sidebar")
      div(id="clockbox")
    div(class="img-rounded sidebar")
      | "Time to destination according to google maps."
  div(class="col-sm-6")
    div(class="img-rounded main map")
      input(id="pac-input" class="controls" type="text" placeholder="Search Box")
      div(id="map-canvas")
  div(class="col-sm-3")
    div(class="img-rounded rightbar")
      | "Event Feed" 
      br 
      br 
      br 
      br
      br
      br
