html
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
  
      link(rel='stylesheet', href='css/bootstrap.min.css')
      link(rel='stylesheet', href='css/default.css')
      link(rel='stylesheet', href='css/modal.css')
      link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')

      script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/gcode.js')
      script(src='js/clock.js')
      script(src='js/jquery.leanModal.min.js')
  body
    .container
      block navbar
        nav.navbar.navbar-inverse
          .container-fluid
            .navbar-header
              a.navbar-brand(href="#")
                img(src="images/icon.png" alt="EventPing")
            #navbar.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href="/") Home
                li
                  a(href="/profile") Profile
                li
                  a(href="/events") Events
              form.navbar-form.navbar-right
                a#modal_trigger.btn.btn-success(href="#modal") Login
                #modal.popupContainer(style="display:none;")
                  header.popupHeader
                    span.header_title Login
                    span.modal_close
                      i.fa.fa_times
                  section.popupBody
                    .social_login
                      .user_login
                        form
                          label Email/Username
                          input(type="text")
                          label Password
                          input(type="password")
                          .checkbox
                            input#remember(type="checkbox")
                            label(for='remember') Remember Me
                        a.forgot_password(href="#") Forgot Password?
                      .action_btns
                        .one_half
                          a#login.btn_l(href="#") Login
                        .one_half.last
                          a#register_form.btn_l(href="#") Sign up
                    .user_register
                      form
                        label Username
                        input(type="text")
                        label Password
                        input(type="password")
                        label Email Address
                        input(type="email")
                        .action_btns
                          .one_half
                            a.btn_l.back_btn
                              i.fa.fa-angle-double-left Back
                          .one_half.last
                            a.btn_l.btn_red(href="#") Register
    block content
  footer
  script.
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function(){
      // Calling Register Form
      $("#register_form").click(function(){
        $(".social_login").hide();
        $(".user_register").show();
        $(".header_title").text('Register');
        return false;
      });
      // Going back to Social Forms
      $(".back_btn").click(function(){
        $(".user_register").hide();
        $(".social_login").show();
        $(".header_title").text('Login');
        return false;
      });
    })