html
  head
    title!= title
  body
    h1!= message
    div.loginbox
    form(name='login', action='/login', method='post')
        input(type='textbox' name='user' placeholder='user' id='user')
        input(type='textbox' name='pass' placeholder='pass' id='pass')
        input(type='submit' value='login')
    
    a(href='/register') Register