@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

.btn_l {
	padding:10px 20px; 
	background: #F4F4F2;
}

.btn_l_red {
	background: #ED6347; 
	color: #FFF;
}

.btn_l:hover {
	background: #E4E4E2;
}

.btn_l_red:hover {
	background: #C12B05;
}

a.btn_l {
	color:#666; 
	text-align: center; 
	text-decoration: none;
}

a.btn_l_red {
	color: #FFF;
}

.one_half {
	width:50%; 
	display: block; 
	float:left;
}

.one_half.last {
	width:45%; 
	margin-left:5%;
}

/* Popup Styles*/
.popupHeader {
	font-size:16px; 
	text-transform: uppercase;
}

.popupHeader {
	background:#F4F4F2; 
	position:relative; 
	padding:10px 20px; 
	border-bottom:1px solid #DDD; 
	font-weight:bold;
}

.popupHeader .modal_close {
	position: absolute; 
	right: 0; 
	top:0; 
	padding:10px 15px; 
	background:#E4E4E2; 
	cursor: pointer; 
	color:#aaa; 
	font-size:16px;
}

.popupBody {
	padding:20px;
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 14px; 
	color: #666;
}

.action_btns {
	clear:both; 
	overflow: hidden;
}

.action_btns a {
	display: block;
}

/* User Login Form */
.user_login label {
	display: block; 
	margin-bottom:5px;
}

.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
	display: block; 
	width:90%; 
	padding: 10px; 
	border:1px solid #DDD; 
	color:#666;
}

.user_login input[type="checkbox"] {
	float:left; 
	margin-right:5px;
}

.user_login input[type="checkbox"]+label {
	float:left;
}

.user_login .checkbox {
	margin-bottom: 10px; 
	clear: both; 
	overflow: hidden;
}

.forgot_password {
	float:right;
	display:block; 
	margin: 0px; 
	clear: both; 
	overflow: hidden; 
	text-decoration: none; 
	color:#ED6347; 
	text-align:right;
}
/*added by henry, remove this comment when style is fixed jia*/
.gplus {
    display:block;
    text-align:center
    margin-bottom: 5px;
}



/* User Register Form */
.user_register {
	display: none;
}

.user_register label {
	display: block; 
	margin-bottom:5px;
}

.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
	display: block; 
	width:90%; 
	padding: 10px; 
	border:1px solid #DDD; 
	color:#666;
}

.user_register input[type="checkbox"] {
	float:left; 
	margin-right:5px;
}

.user_register input[type="checkbox"]+label {
	float:left;
}

.user_register .checkbox {
	margin-bottom: 10px; 
	clear: both; 
	overflow: hidden;
}